<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>notes 2</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  $.get('/update/1', function(res) {
				  $('#partial').html(res);
			  });
			})
			$(document).on('submit', '.new_title', function(res){
				console.log($(this))
				$.post('/new', $(this).serialize(), function(res){
					$('.titleinput').val('')
					$.get('/update/1', function(res) {
		            $('#partial').html(res);
					});
				})
				return false
			})
			$(document).on("blur", ".desc", function(){
				console.log($(this))
				$.post($(this).attr('action'), $(this).serialize() , function(res){
					console.log('back')
					$.get('/update/1', function(res) {
		            $('#partial').html(res);
					});
				})
				return false
			})
			$(document).on('click', ".delete", function(){
					console.log('clicked')
					$.get($(this).attr('href'), function(res){
						$.get('/update/1', function(res) {
			            $('#partial').html(res);
						});
					})
					return false
				})
		</script>
	</head>
	<body>
		<h2>notes</h2>
		<hr>
		<div id="partial">

		</div>
		<form class="new_title" action="/new" method="post">
			<input class="titleinput" type="text" name="title" value="">
			<input type="submit" name="submit" value="create new note">
		</form>
	</body>
</html>
