	<p>{% for page in pages %}
		<a class="pageturner" href="update/{{page}}">{{page}}</a>
	{% endfor %} </p>
	<br><br>
	{% if notes %}
  {% for note in notes %}
  <a class="deleter" href="delete/{{note['id']}}">delete</a>
	  <h2>
		 {{ note['title'] }}
	  </h2>
		<form class="desc_update_form" action="/desc/{{note['id']}}" method="post">
			<textarea class="description" id="{{note['id']}}" name="description" rows="3" cols="40">{{note['description']}}
			</textarea>
		</form>

  {% endfor %}
{% endif %}
